###############################################################################
# Bazel configuration file
###############################################################################

# Enable Bzlmod (new module system)
common --enable_bzlmod

# Set minimum macOS version for compatibility
build --macos_minimum_os=10.12
run   --macos_minimum_os=10.12
test  --macos_minimum_os=10.12

# FIXME: Temporary workaround for pyo3 stubgen issues. See ticket #45
build --@rules_rust_pyo3//settings:experimental_stubgen=False
