# Bazel Build Directories
bazel-bin
bazel-dv
bazel-out
bazel-testlogs

# Rust Build Artifacts
target
**/Cargo.lock

# Python Temporary Files
**/.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
**/dist/

# CMake Build Directories
build/

# VSCode Settings
.vscode/