name: Python CI Workflow

on:
  workflow_call:
    secrets:
      PYPI_API_TOKEN:
        required: true

jobs:
  # ----------------------------------------------------------------------------
  # Build Python Wheels
  # ----------------------------------------------------------------------------

  python-build-wheels:
    name: Build wheels on ${{ matrix.platform.os }} (${{ matrix.platform.target }})
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          # Linux
          - { os: linux, runner: ubuntu-latest, target: x86_64-unknown-linux-gnu }        # x86 64-bit
          # - { os: linux, runner: ubuntu-latest, target: aarch64-unknown-linux-gnu }       # Arm 64-bit (TODO #53)
          # - { os: linux, runner: ubuntu-latest, target: armv7-unknown-linux-gnueabihf }   # Arm 32-bit (TODO #53)
          # macOS
          - { os: macos, runner: macos-latest, target: universal2-apple-darwin }          # MacOS Universal
          # Windows
          - { os: windows, runner: windows-latest, target: x86_64-pc-windows-msvc }       # x86 64-bit
          # - { os: windows, runner: windows-latest, target: aarch64-pc-windows-msvc }      # Arm 64-bit (TODO #53)
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          working-directory: python
          target: ${{ matrix.platform.target }}
          args: --release --strip --out dist --compatibility pypi
          manylinux: ${{ matrix.platform.os == 'linux' && 'auto' || null }}
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.platform.os }}-${{ matrix.platform.target }}
          path: python/dist/*.whl


  # ----------------------------------------------------------------------------
  # Test Python Bindings
  # ----------------------------------------------------------------------------

  python-test:
    name: Test Python Bindings
    runs-on: ubuntu-latest
    needs: python-build-wheels
    env:
      CI: true
      BAZELISK_ALLOW_ENVS: Y
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cache Bazel
        uses: actions/cache@v4
        with:
          path: ~/.cache/bazel
          key: bazel-${{ runner.os }}
          restore-keys: bazel-${{ runner.os }}

      - name: Test Python Bindings
        run: bazel test //python/... --test_output=errors --keep_going

      - name: Run Python Example
        run: bazel run //examples/python:python_example


  # ----------------------------------------------------------------------------
  # Publsih Python Wheels
  # ----------------------------------------------------------------------------

  python-publish-pypi:
    name: Publish Python Wheels to PyPI
    needs: [python-build-wheels, python-test]
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    steps:
      - name: Download all wheels
        uses: actions/download-artifact@v4
        with:
          pattern: wheels-*
          merge-multiple: true
          path: dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages-dir: dist/