name: publish

on:
  workflow_call:
    secrets:
      CARGO_REGISTRY_TOKEN:
        required: true
      PYPI_API_TOKEN:
        required: true 

concurrency:
  group: publish-${{ github.ref_name }}
  cancel-in-progress: false

permissions:
  contents: write # required to push tags

defaults:
  run:
    shell: bash

jobs:
  publish-rust:
    name: Publish Rust Core
    uses: ./.github/workflows/_publish-rust.yaml
    secrets:
      CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

  publish-python:
    name: Publish Python Bindings
    uses: ./.github/workflows/_publish-python.yaml
    secrets:
      PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
